In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('previous_application.csv')

In [3]:
dataset.isnull().sum()

SK_ID_PREV                           0
SK_ID_CURR                           0
NAME_CONTRACT_TYPE                   0
AMT_ANNUITY                     372235
AMT_APPLICATION                      0
AMT_CREDIT                           1
AMT_DOWN_PAYMENT                895844
AMT_GOODS_PRICE                 385515
WEEKDAY_APPR_PROCESS_START           0
HOUR_APPR_PROCESS_START              0
FLAG_LAST_APPL_PER_CONTRACT          0
NFLAG_LAST_APPL_IN_DAY               0
RATE_DOWN_PAYMENT               895844
RATE_INTEREST_PRIMARY          1664263
RATE_INTEREST_PRIVILEGED       1664263
NAME_CASH_LOAN_PURPOSE               0
NAME_CONTRACT_STATUS                 0
DAYS_DECISION                        0
NAME_PAYMENT_TYPE                    0
CODE_REJECT_REASON                   0
NAME_TYPE_SUITE                 820405
NAME_CLIENT_TYPE                     0
NAME_GOODS_CATEGORY                  0
NAME_PORTFOLIO                       0
NAME_PRODUCT_TYPE                    0
CHANNEL_TYPE                         0
SELLERPLACE_AREA                     0
NAME_SELLER_INDUSTRY                 0
CNT_PAYMENT                     372230
NAME_YIELD_GROUP                     0
PRODUCT_COMBINATION                346
DAYS_FIRST_DRAWING              673065
DAYS_FIRST_DUE                  673065
DAYS_LAST_DUE_1ST_VERSION       673065
DAYS_LAST_DUE                   673065
DAYS_TERMINATION                673065
NFLAG_INSURED_ON_APPROVAL       673065
dtype: int64

In [4]:
dataset.drop(columns = ['AMT_ANNUITY','AMT_DOWN_PAYMENT','AMT_GOODS_PRICE','RATE_DOWN_PAYMENT',
                            'RATE_INTEREST_PRIMARY','RATE_INTEREST_PRIVILEGED','NAME_TYPE_SUITE','CNT_PAYMENT',
                            'PRODUCT_COMBINATION','DAYS_FIRST_DRAWING','DAYS_FIRST_DUE','DAYS_LAST_DUE_1ST_VERSION',
                           'DAYS_LAST_DUE','DAYS_TERMINATION','NFLAG_INSURED_ON_APPROVAL','AMT_CREDIT'], axis = 1, inplace = True)

In [5]:
dataset.shape

(1670214, 21)

In [6]:
dataset.drop(dataset.tail(1270214).index,
        inplace = True)

In [7]:
dataset.tail()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_APPLICATION,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,...,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,NAME_YIELD_GROUP
399995,2440013,377203,Cash loans,225000.0,WEDNESDAY,8,Y,1,XNA,Approved,...,Cash through the bank,XAP,Repeater,XNA,Cash,x-sell,Country-wide,30,Connectivity,high
399996,1643722,347798,Consumer loans,93141.0,TUESDAY,14,Y,1,XAP,Approved,...,Cash through the bank,XAP,New,Consumer Electronics,POS,XNA,Country-wide,100,Consumer electronics,middle
399997,1447049,369415,Cash loans,900000.0,WEDNESDAY,15,Y,1,Buying a used car,Approved,...,Cash through the bank,XAP,Repeater,XNA,Cash,walk-in,Credit and cash offices,100,XNA,low_normal
399998,1518871,419148,Revolving loans,0.0,WEDNESDAY,11,Y,1,XAP,Approved,...,XNA,XAP,Repeater,XNA,Cards,x-sell,Regional / Local,120,Connectivity,XNA
399999,1897215,170930,Consumer loans,47250.0,MONDAY,10,Y,1,XAP,Approved,...,XNA,XAP,Repeater,Clothing and Accessories,POS,XNA,Stone,54,Clothing,low_normal

In [8]:
dataset.isnull().sum()

SK_ID_PREV                     0
SK_ID_CURR                     0
NAME_CONTRACT_TYPE             0
AMT_APPLICATION                0
WEEKDAY_APPR_PROCESS_START     0
HOUR_APPR_PROCESS_START        0
FLAG_LAST_APPL_PER_CONTRACT    0
NFLAG_LAST_APPL_IN_DAY         0
NAME_CASH_LOAN_PURPOSE         0
NAME_CONTRACT_STATUS           0
DAYS_DECISION                  0
NAME_PAYMENT_TYPE              0
CODE_REJECT_REASON             0
NAME_CLIENT_TYPE               0
NAME_GOODS_CATEGORY            0
NAME_PORTFOLIO                 0
NAME_PRODUCT_TYPE              0
CHANNEL_TYPE                   0
SELLERPLACE_AREA               0
NAME_SELLER_INDUSTRY           0
NAME_YIELD_GROUP               0
dtype: int64

In [9]:
dataset.dropna()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_APPLICATION,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,...,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,NAME_YIELD_GROUP
0,2030495,271877,Consumer loans,17145.0,SATURDAY,15,Y,1,XAP,Approved,...,Cash through the bank,XAP,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,middle
1,2802425,108129,Cash loans,607500.0,THURSDAY,11,Y,1,XNA,Approved,...,XNA,XAP,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,low_action
2,2523466,122040,Cash loans,112500.0,TUESDAY,11,Y,1,XNA,Approved,...,Cash through the bank,XAP,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,high
3,2819243,176158,Cash loans,450000.0,MONDAY,7,Y,1,XNA,Approved,...,Cash through the bank,XAP,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,middle
4,1784265,202054,Cash loans,337500.0,THURSDAY,9,Y,1,Repairs,Refused,...,Cash through the bank,HC,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,2440013,377203,Cash loans,225000.0,WEDNESDAY,8,Y,1,XNA,Approved,...,Cash through the bank,XAP,Repeater,XNA,Cash,x-sell,Country-wide,30,Connectivity,high
399996,1643722,347798,Consumer loans,93141.0,TUESDAY,14,Y,1,XAP,Approved,...,Cash through the bank,XAP,New,Consumer Electronics,POS,XNA,Country-wide,100,Consumer electronics,middle
399997,1447049,369415,Cash loans,900000.0,WEDNESDAY,15,Y,1,Buying a used car,Approved,...,Cash through the bank,XAP,Repeater,XNA,Cash,walk-in,Credit and cash offices,100,XNA,low_normal
399998,1518871,419148,Revolving loans,0.0,WEDNESDAY,11,Y,1,XAP,Approved,...,XNA,XAP,Repeater,XNA,Cards,x-sell,Regional / Local,120,Connectivity,XNA
399999,1897215,170930,Consumer loans,47250.0,MONDAY,10,Y,1,XAP,Approved,...,XNA,XAP,Repeater,Clothing and Accessories,POS,XNA,Stone,54,Clothing,low_normal

In [10]:
dataset.shape

(400000, 21)

In [11]:
dataset_csv = dataset.to_csv('project_dataset_4l.csv')